{% extends "base.html" %}
{% load url from future %}

{% block content %}


<div class='row'>
<form class="well form-horizontal span6" method="post" action="{% url 'change_passwd' %}">

{% csrf_token %}
 <div class="control-group {% if form.old_password.errors %}error{% endif %}">
	<label class="control-label" for="id_old_password">Current</label>
	<div class="controls">
	   {{ form.old_password }}
	</div>
</div>
<div class="control-group {% if form.new_password1.errors %}error{% endif %}">
    <label class="control-label" for="id_new_password1">New</label>
    <div class="controls">
       {{ form.new_password1 }}
    </div>
</div>
<div class="control-group {% if form.new_password2.errors %}error{% endif %}">
    <label class="control-label" for="id_new_password2">New</label>
    <div class="controls">
       {{ form.new_password2 }}
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn fluid" tabindex=4>Change Password</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</div>
    
</form>
</div>

{% endblock %}

{% block script %}
$(document).ready(function() {
    $("#id_old_password").attr("placeholder","Password");
    $("#id_old_password").attr("tabindex","1");
    $("#id_old_password").focus();
    $("#id_new_password1").attr("placeholder","Password");
    $("#id_new_password1").attr("tabindex","2");
    $("#id_new_password2").attr("placeholder","Password Again...");
    $("#id_new_password2").attr("tabindex","3");
});
{% endblock %}