{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<h2>Lorem ipsum</h2>
<p>Lorem ipsum dolor sit amet, vim ea error nostrum nominavi, mel an sumo inimicus.
 Esse brute ea vel, vel in nostrud pertinacia, te ius autem zril laoreet. Vix ceteros scripserit eu, his modo sonet et.
  In has mutat viderer consequuntur, illud ignota te vim. Sit diam erat quaeque ei, an inani suscipiantur vel. Eu vel unum utroque consequat, ea praesent facilisis vel.
</p>
<p>
Est ei impedit docendi. Putant ceteros te vis. Malis putent denique qui no. 
Mei ex tale option persequeris, id wisi voluptua instructior mel. An mei movet primis fastidii, nam et ancillae vituperata.
</p>
<p>
Vim placerat interesset in, nibh rebum scribentur id usu. Ea has verear timeam persecuti. 
No sit mentitum petentium, at dico homero blandit duo. Pri te dico tibique interesset. Quo nulla delenit ut.
</p>
<p>
Iudicabit conceptam est at, sea ei omnes saepe, quo ne dicam laudem blandit. Ea mea wisi fabellas accusamus, 
his ex civibus tractatos. His dico sint ex, no assum saperet definitionem qui, usu ad agam error. Id vim accusam invenire, ut has graecis abhorreant.
</p>
{% endblock %}
